<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Mukta+Vaani" rel="stylesheet">    <!-- font for text  font-family: 'Mukta Vaani', sans-serif;-->
    <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='/stylesheets/accordionTrip.css' />
        <link rel='stylesheet' href='/stylesheets/scrollCal.css' />
  </head>
  <body>

    <% include ../layout.ejs %>
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
        <div class="filters">
          <h5>find:</h5>
          <div id="searchfield">
            <input type="text" name="" class="biginput" id="autocomplete" placeholder="Enter type of place">
          </div>
          <div class="search_icons">
              <div class="search_icon"><img src="https://i.imgur.com/liUB50H.png" alt="restaurant" /></div>
              <div class="search_icon"><img src="https://i.imgur.com/BFiuOkx.png" alt="lodging" /></div>
              <div class="search_icon"><img src="https://i.imgur.com/kaicBix.png" alt="bar" /></div>
              <div class="search_icon"><img src="https://i.imgur.com/OIT3QVJ.png" alt="park" /></div>
          </div>
          <h5>near:</h5>
          <div id="locationField">
            <input id="autocompletemap" placeholder="Enter a city/place/address" type="text" />
          </div>
        </div>

        <div class="addtocalendar">
          <div class="close_form">x</div>
          Add activity to trip planner
          <form class="" action="/activities/<%= trip_id %>/new" method="post">
            <div class="form-group">
            Title / Place
            <input class="form-control" id="add_place_name" type="text" name="place" value="" required>
            </div>
            <div class="form-group">
            Trip Day
            <select class="form-control" name="day">
              <% days.forEach(function(day) { %>
                  <option class="day"+<%= day.id %>><%= day.date %></option>
              <% }) %>
            </select>
            </div>
            <div class="form-group">
            Start Time
            <input class="form-control" type="time" name="start_time" value="" placeholder="time" required>
            </div>
            <div class="form-group">
            End Time
            <input class="form-control" type="time" name="end_time" value="" placeholder="time" required>
            </div>
            <div class="form-group">
            Address
            <input class="form-control" id="add_place_address" type="address" name="address" value="" required><br>
            </div>
            <input style="display: none" id="add_place_coords" type="text" name="coordinates" value=""><br>
            <input style="display: none" id="add_place_type" type="text" name="type" value=""><br>
            <input type="submit" id="addToCal" value="add to calendar" class="btn btn-primary">
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div class="map_box">
          <div id="map"></div>
        </div>
      </div>

      <div id="listing">
        <table id="resultsTable">
          <tbody id="results"></tbody>
        </table>
      </div>

      <div style="display: none">
        <div id="info-content">
          <table>
            <tr id="iw-url-row" class="iw_table_row">
              <td id="iw-icon" class="iw_table_icon"></td>
              <td id="iw-url"></td>
            </tr>
            <tr id="iw-address-row" class="iw_table_row">
              <td class="iw_attribute_name">Address:</td>
              <td id="iw-address"></td>
            </tr>
            <tr id="iw-phone-row" class="iw_table_row">
              <td class="iw_attribute_name">Telephone: </td>
              <td id="iw-phone"></td>
            </tr>
            <tr id="iw-rating-row" class="iw_table_row">
              <td class="iw_attribute_name">Rating: </td>
              <td id="iw-rating"></td>
            </tr>
            <tr id="iw-website-row" class="iw_table_row">
              <td class="iw_attribute_name">Website: </td>
              <td id="iw-website"></td>
            </tr>
            <tr id="iw-website-coords" class="iw_table_row">
              <td class="iw_attribute_name">Coords: </td>
              <td id="iw-coords"></td>
            </tr>
            <tr id="iw-website-type" class="iw_table_row">
              <td class="iw_attribute_name">Type: </td>
              <td id="iw-type"></td>
            </tr>
            <tr id="iw-addto-calendar" class="iw_table_row">
              <td class="iw_attribute_name"></td>
              <td id="iw-calendar"><a href="#">Add to calendar</a></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-3 scheduleBorder">
      <p>schedule</p>
      </div>
      <div class="col-md-3 calDay">
        <div class="schedule">
          <div class="activities">
            <div>
              <% days.forEach(function(day) { %>
                <button class="accordion">
                <a class=""><%= day.shortDay %></a>
                </button>
                <div class="panel">
                  <div>
                    <% activities.forEach(function(activity) {
                    if (activity.day_id === day.id) { %>

                      <div class="accordion">
                        <div class="act_edit">
                        <div class="act_name"><%= activity.name %></div>
                        <div id="<%= activity.id %>" class="act_delete"> x </div>
                      </div>
                      </div>
                      <div class="panel">
                        <div class="act_dates">
                          <%    function getFormattedTime(time) {
                                  time = time.substring(0,5)
                                  time.replace(":", '')
                                  var hours24 = parseInt(time.substring(0, 2),10);
                                  var hours = ((hours24 + 11) % 12) + 1;
                                  var amPm = hours24 > 11 ? 'pm' : 'am';
                                  var minutes = time.substring(2);
                                  return hours + minutes + amPm;
                              } %>
                          <% var astart = getFormattedTime(activity.start_time) %>
                          <% var aend = getFormattedTime(activity.end_time) %>
                          <p class="act_date">From <%= astart %> to <%= aend %><p>
                        </div>
                        <p>Address: <%= activity.address %></p>
                      </div>
                    <% } %>
                  <% }) %>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>

    </div>
<<<<<<< 68420ebe884d27ec090de6426e20ad29db8eaea7
    <form action="/trips/<%= trip_id %>/delete" method="post">
      <input type="submit" name="delete-trip" value="Delete this trip">
    </form>
=======
    </div>
    <div id="mamadiv">
      <div id="testscroll">
              <% for(var i=0; i<12; i++) { %>
                <!-- <div class="col-sm-12">
                  <p>heading</p>
                </div> -->
                <div class="schedule">
                  <div class="activities">
                    <div>
                      <% days.forEach(function(day) { %>
                        <div class=" calScrollDay">
                        <button class="accordion">
                        <a class=""><%= day.shortDay %></a>
                        </button>
                        <div class="panel">
                          <div><% activities.forEach(function(activity) {
                            if (activity.day_id === day.id) { %>
                              <a class="accordion">
                                <p><%= activity.name %></p>
                              </a>
                              <div class="panel">
                                <p><%= activity.address %></p>
                                <p><%= activity.start_time %></p>
                                <p><%= activity.end_time %></p>
                              </div>
                            <% } %>
                          <% }) %>
                          </div>
                        </div>
                        </div>
                      <% }) %>
                  </div>
                  </div>
              </div>
                <% } %>
      </div>
    </div>

>>>>>>> updated trip edit view

    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.26/jquery.autocomplete.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTSj-FCBxjl1YBfJ2GngYKyajoobyKdVg&libraries=places&callback=initMap" async defer></script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script type="text/javascript" src="/javascripts/autocomplete.js"></script>
    <script type="text/javascript" src="/javascripts/ajax.js"></script>
  </body>
</html>
